<div class="contact-cta">
  <div class="wrapper">

    <div class="header">
      <h2 class="title">Contact us to reserve your ride</h2>
      <p class="description">Our team is available 24/7 to assist you with reservations or questions.</p>
    </div>

    <div class="contact-details">
      <ul>
        <li><a
            href="mailto:info@greecepreciousmoment.com"><span class="symbol">alternate_email</span> info&#64;greecepreciousmoment.com</a></li>
        <li><a href="tel:+306942000000"><span class="symbol">call</span> +306942000000</a></li>
      </ul>
    </div>
  </div>
</div>