<div class="wrapper">
  <div class="header">
    <div class="title">Contact</div>
  </div>

  <div class="content">
    <p>Reach out to Greece Precious Moments and let our dedicated team craft a transportation experience as exceptional
      as your destination. Call us, send a WhatsApp message, or drop an email—our representatives are on hand 24/7 to
      confirm availability, tailor itineraries, and answer any questions about vehicles, pricing, or special requests.
    </p>

    <div class="contact-cta">
      <h3>Contact us to reserve your ride</h3>
      <p>Our team is available 24/7 to assist you with reservations or questions.</p>

      <div class="contact-details">
        <ul>
          <li><a href="mailto:info@greecepreciousmoment.com"><span class="symbol">alternate_email</span>
              info&#64;greecepreciousmoment.com</a></li>
          <li><a href="tel:+306942000000"><span class="symbol">call</span> +306942000000</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>