.faq > .wrapper {
  max-width: var(--max-w-xl);
  margin: 4.5rem auto;
  padding: 24px;
}

.header {
  margin-bottom: 3rem;
}

.header .title {
  font-size: var(--font-2xl);
  font-weight: var(--font-bold);
  line-height: var(--leading-snug);
  color: var(--color-primary);
}

.detail-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (min-width: 960px) {
  .detail-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.detail-list details {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #383838;
}

details summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  font-weight: var(--font-bold);
  color: var(--color-primary);
}

details summary .symbol::after {
  font-size: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgba(200, 162, 87, 0.1);
  color: var(--color-primary);
}

details summary .symbol::after {
  content: '\e313';
}

details[open] summary .symbol::after {
  content: '\e316';
}

details .content {
  margin-top: 1.5rem;
}
