<app-spinner *ngIf="loading else content"></app-spinner>

<ng-template #content>
  <div class="wrapper">
    <div class="header">
      <h1 class="title">Fleet</h1>
      <div class="description">Our fleet consists exclusively of top-of-the-line Mercedes-Benz vehicles, including the
        E-Class, Vito, V-Class, S-Class, and Sprinter. Each vehicle is meticulously maintained and offers the highest
        standards of comfort, safety, and luxury.</div>
    </div>

    <ul class="vehicles-list" *ngIf="vehicles && vehicles.length > 0">
      <li class="vehicle" *ngFor="let vehicle of vehicles">
        <picture>
          <img [attr.srcset]="vehicle.featuredImage?.srcSet" [alt]="vehicle.title" class="featured-image" />
        </picture>

        <div class="content">
          <div class="wrapper">
            <h3 class="title">{{ vehicle.title }}</h3>
            <div class="passenger-capacity" *ngIf="vehicle.passengerCapacity"><span class="symbol">group</span> <span
                class="text">{{ vehicle.passengerCapacity }} passengers</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <app-contact-cta></app-contact-cta>
</ng-template>