/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

body {
  margin: 0;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex-grow: 1;
  position: relative;
}

/* Box sizing
--------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Typography
--------------------------------------------- */

html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body,
button,
input,
select,
optgroup,
textarea {
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-weight: var(--font-regular);
  font-style: normal;
  font-size: var(--font-base);
  line-height: var(--leading-base);
  color: var(--color-light);
  letter-spacing: 0.05em;
}

body {
  background-color: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-base);
  font-weight: var(--font-light);
  line-height: var(--leading-base);
  margin: 0;
}

p {
  margin: 0;
}

strong {
  font-weight: var(--font-bold);
}

/* Elements
--------------------------------------------- */

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

picture {
  display: block;
}

/* Links
--------------------------------------------- */
a {
  display: inline-block;
  cursor: pointer;
  color: var(--color-light);
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  outline: 0;
}

/* Buttons
--------------------------------------------- */

button {
  cursor: pointer;
}

.btn {
  background-color: none;
  color: var(--color-primary);
  padding: 0.65rem 1.5rem;
  border: 2px solid var(--color-primary);
  border-radius: 10rem;
  font-weight: var(--font-light);
  font-size: var(--font-xs);
  text-transform: uppercase;
}

/* Symbols
--------------------------------------------- */

.symbol {
  font-family: var(--font-symbol);
  font-size: var(--font-2xl);
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
